
/ProjetoFinal/target/classes/com/unicv/aulas/projetobilheteria/classes
/ProjetoFinal/target/classes/com/unicv/aulas/projetobilheteria
/Api/Unicv.Eventos.Api/.vs
/Api/Unicv.Eventos.Api/Unicv.Eventos.Api/bin
/Api/Unicv.Eventos.Api/Unicv.Eventos.Api/obj
/Api/Unicv.Eventos.Api/Unicv.Eventos.Api/Properties/ServiceDependencies/api-eventos-unicv - Web Deploy
/Api/Unicv.Eventos.Api/Unicv.Eventos.Api/Properties/PublishProfiles
